<%- include ("partials/header.ejs") %> <%- include ("partials/homeNavbar.ejs")
%>
<body>
  <div class="container">
    <hr />
    <div class="jumbotron">
      <h1 class="display-4">Bem vindo!</h1>
      <p class="lead">Este é um simples Blog.</p>
      <hr class="my-4" />
      <p>Veja nossos artigos!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
    </div>
    <div class="row">
        <% if (articles && articles.length > 0) { %>
          <% articles.forEach(article => { %>
            <div class="col-md-6 mb-4">
              <div class="card">
                <div class="card-header">
                  <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                  <a class="btn btn-success" href="/<%= article.slug %>">Ler Artigo</a>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>Nenhum artigo encontrado.</p>
        <% } %>
      </div>
      <div class="row">
        <div class="col col-li">
          <a style="float: right;" href="/articles/page/2">Next >></a>
        </div>
        <hr>
      </div>
      <hr>
  </div>
  <br />
</body>
<%- include ("partials/footer.ejs") %>
